html, body, body > div {
    height: 100%;
    width: 100%;
    margin: 0;
}
body {
    position: relative;
}
.main-container {
    height: 100%;
}
header {
    width: 100%;
    height: calc(100% + 8vw);
    min-width: 320px;
    position: relative;
    overflow: hidden;
    background: #092756;
    background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top, rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg, #000000 0%, #092756 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg, #000000 0%,#092756 100%);
    background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg, #000000 0%,#092756 100%);
    background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg, #000000 0%,#092756 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(13, 70, 94, 0.4) 10%,rgba(112, 86, 40, 0) 40%), linear-gradient(to bottom, rgba(28, 91, 116, 0.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg, #000000 0%,#051938 100%);
    #particles-js {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .inner-header {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        pointer-events: none;
        .name {
            color: white;
            font-size: 40px;
            padding: 20px 0;
        }
        .title {
            color: white;
            font-size: 20px;
            text-transform: uppercase;
        }
        .logo {
            width: 150px;
            height: 100px;
            display: inline-block;
            vertical-align: middle;
            background: url('../assets/header/logo_white.png') center center no-repeat;
            background-size: contain;
            -webkit-animation: breathing 5s ease-out infinite normal;
            animation: breathing 5s ease-out infinite normal;
            -webkit-font-smoothing: antialiased;
        }
    }
    .upper.seperator {
        position: absolute;
        bottom: 0;
        pointer-events: none;
        margin: 0 -10px;
    }
    .scroll {
        width: 70px;
        height: 60px;
        position: fixed;
        bottom: 15%;
        right: 50%;
        margin-right: -25px;
        cursor: pointer;
        text-align: center;
        z-index: 100;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        
        transition: background-color .4s, border-color .4s;
        animation: float-no-shadow 2s ease-in-out infinite;
        .material-icons {
            margin-top: 15px;
            color: white;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            transition: color .4s;
        }
        @media(max-width: 500px) {
            width: 40px;
            height: 40px;
            margin-right: -20px;
            .material-icons {
                margin-top: 10px;
            }
        }
    }
}
.page-content-wrapper {
    width: 100%;
    background-color: white;
    margin-bottom: 580px;
    position: relative;
}
.contact {
    width: 100%;
    height: 500px;
    padding-top: 80px;
    position: fixed;
    bottom: 0;
    z-index: -1;
    background-color: #EEE;
    .lower.seperator {
        position: absolute;
        top: 0;
        pointer-events: none;
        margin: 0 -10px;
        transform: rotate(180deg);
    }
    .text,
    .social,
    .copyright {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .text {
        height: 40%;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        h1 {
            margin: 0;
            margin-top: auto;
            font-size: 40px;
            font-weight: normal;
            letter-spacing: 3px;
            text-transform: lowercase;
            @media(max-width: 700px) {
                font-size: 30px;
            }
        }
        h2 {
            margin: 0;
            margin-top: auto;
            color: #bbb;
        }
        .seperator {
            position: absolute;
            width: 200px;
            bottom: 5%;
            height: 2px;
            &.left {
                left: 50%;
                transform: translateX(-270px);
                background-image: radial-gradient(circle at right, #bbb,#eee 100%);
            }
            &.right {
                right: 50%;
                transform: translateX(+270px);
                background-image: radial-gradient(circle at left, #bbb,#eee 100%);
            }
            @media(max-width: 700px) {
                width: 100px;
                &.left {
                    transform: translateX(-140px);
                }
                &.right {
                    transform: translateX(+140px);
                }
            }
        }
    }
    .social {
        height: 40%;
        padding-top: 20px;
        a {
            margin: 0 30px;
            @media(max-width: 380px) {
                margin: 0 10px;
            }
        }
        p {
            width: 100%;
            margin: 0;
            text-align: center;
            font-size: 30px;
            line-height: 1.5;
        }
    }
    .copyright {
        height: 15%;
        p {
            font-size: 20px;
            color: #AAAAAA;
        }
    }
}

#page-content {
    width: 100%;
    height: 1000px;
    padding: 30px 0;
    min-width: 320px;
    max-width: 1000px;
    margin: 0 auto;
    display: table;
    z-index: 3;
    .panel {
        width: 100%;
        display: table;
        padding: 30px 0;
        h1 {
            margin: 0;
            padding: 0 5%;
            text-transform: lowercase;
            letter-spacing: 5px;
        }
    }
    div.panel {
        @media(max-width: 700px) {
            h1 {
                text-align: center;
            }
        }
        .row {
            height: 200px;
            .col-text {
                width: 60%;
                height: 100%;
                display: flex;
                align-items: center;
                .text {
                    width: 100%;
                    color: Black;
                    font-size: 18px;
                    line-height: 1.5;
                    padding: 0 30px;
                    @media(max-width: 700px) {
                        text-align: center;
                        -moz-text-align-last: center; /* Firefox */
                        text-align-last: center;
                    }
                }
            }
            .col-image {
                width: 40%;
                height: 100%;
                .image {
                    width: 100%;
                    height: 100%;
                }
            }
            @media(max-width: 700px) {
                height: auto;
                display: table;
                .col-text,
                .col-image {
                    display: table;
                    width: 100%;
                }
                .col-text .text {
                    padding: 30px;
                    width: auto;
                }
                .image {
                    min-height: 200px;
                    max-width: 320px;
                    margin: 0 auto;
                }
            }
        }
    }
    .who {
        h1 {
            text-align: left;
        }
        .row {
            .col-text {
                float: left;
                text-align: justify;
                -moz-text-align-last: justify; /* Firefox */
                text-align-last: justify;
                @media(max-width: 1000px) {
                    .text {
                        text-align: left;
                        -moz-text-align-last: left; /* Firefox */
                        text-align-last: left;
                    }
                }
            }
            .col-image {
                float: right;
                .image {
                    background: url('../assets/body/responsive.jpg') center center / contain no-repeat;
                }
            }
        }
    }
    .work {
        h1 {
            text-align: right;
        }
        .row {
            .col-text {
                float: right;
                text-align: justify;
                -moz-text-align-last: justify; /* Firefox */
                text-align-last: justify;
                @media(max-width: 1000px) {
                    .text {
                        text-align: right;
                        -moz-text-align-last: right; /* Firefox */
                        text-align-last: right;
                    }
                }
            }
            .col-image {
                float: left;
                .image {
                    background: url('../assets/body/work.jpg') center center / contain no-repeat;
                    display: flex;
                    align-items: center;
                    .space {
                        width: 210px;
                        height: 140px;
                        display: flex;
                        align-items: center;
                        margin: 0 auto;
                        background: url('../assets/header/background.jpg') fixed center center / cover no-repeat;
                        .inspire {
                            width: 100%;
                            margin: 0 auto;
                            color: white;
                            font-size: 24px;
                            text-align: center;
                            font-family: 'Indie Flower', cursive;
                        }
                    }
                }
            }
        }
    }
    div.panel.me {
        .row {
            width: 100%;
            height: 400px;
            margin-top: 30px;
            @media(max-width: 1000px) {
                height: 1000px;
            }
            @media(max-width: 700px) {
                height: 1400px;
            }
        }
        h1 {
            position: relative;
            text-align: center;
            .info {
                position: absolute;
                width: 90%;
                margin-top: 5px;
                font-size: 16px;
                font-weight: normal;
                letter-spacing: initial;
                @media(max-width: 1000px) {
                    display: none;
                }
            }
        }
        .left-side,
        .portrait,
        .right-side {
            width: 33%;
            height: 100%;
            float: left;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .thought-container {
                width: 100%;
                height: 50%;
                display: flex;
                align-items: center;
                .thought {
                    width: 70%;
                    height: 80%;
                    position: relative;
                    background-color: LightGrey;
                    overflow: hidden;
                    border-radius: 8px;
                    min-width: 230px;
                    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
                    transform: translatey(0px);
                    animation: float 3s ease-in-out infinite;
                    &:hover {
                        .inner-thought {
                            top: 40%;
                        }
                        .material-icons {
                            top: 30%;
                            opacity: 0;
                        }
                    }
                    .inner-thought {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 75%;
                        background-color: white;
                        transition: top 0.7s ease;
                        text-align: center;
                        pointer-events: none;
                        .title {
                            display: block;
                            margin: 10px 0;
                            font-size: 16px;
                            font-weight: bold;
                        }
                        .text {
                            display: block;
                            color: #888;
                            line-height: 1.5;
                            padding: 0 10px;
                        }
                        &:before {
                            position: absolute;
                            content: '';
                            z-index: 2;
                            bottom: 100%;
                            left: 0;
                            width: 100%;
                            height: 80px;
                            background-image: -webkit-linear-gradient(top, transparent 0%, #ffffff 100%);
                            background-image: linear-gradient(to bottom, transparent 0%, #ffffff 100%);
                        }
                    }
                    .material-icons {
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        top: 60%;
                        color: rgba(0,0,0,0.3);
                        z-index: 10;
                        transition: opacity 0.7s ease, top 0.7s ease;
                        pointer-events: none;
                    }
                }
            }
            @media(max-width: 1000px) {
                width: 90%;
                height: 33%;
                padding: 0 5%;
                flex-direction: row;
                div.thought-container.upper,
                div.thought-container.lower {
                    justify-content: center;
                    width: 50%;
                    height: 100%;
                    .thought {
                        border-radius: 50%;
                        animation: float-higher 4s ease-in-out infinite;
                        .inner-thought {
                            top: 0;
                            background-color: rgba(255,255,255,0.8);
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            .text {
                                color: rgba(0,0,0,0.8);;
                            }

                        }
                        .material-icons {
                            display: none;
                        }
                    }
                }
            }
            @media(max-width: 700px) {
                height: 35%;
                &.portrait {
                    height: 30%;
                }
                flex-direction: column;
                div.thought-container.upper,
                div.thought-container.lower {
                    justify-content: center;
                    width: 100%;
                    height: 50%;
                    .thought {
                        width: 200px;
                        height: 200px;
                    }
                }
            }
        }
        .left-side {
            .thought-container {
                &.upper {
                    justify-content: center;
                }
                &.lower {
                    justify-content: flex-start;
                }
            }
            .thought-container.simple {
                .thought {
                    background: url('../assets/body/me/simple.jpg') center center / cover no-repeat;
                }
            }
            .thought-container.explore {
                .thought {
                    animation-delay: 2s !important;
                    background: url('../assets/body/me/curious.jpg') center center / cover no-repeat;
                }
            }
        }
        .portrait {
            margin: 0 auto;
            background: url('../assets/body/me/portrait.jpg') center center / contain no-repeat;
        }
        .right-side {
            .thought-container {
                &.upper {
                    justify-content: center;
                }
                &.lower {
                    justify-content: flex-end;
                }
            }
            .thought-container.workout {
                .thought {
                    animation-delay: 1s !important;
                    background: url('../assets/body/me/workout.jpg') center center / cover no-repeat;
                }
            }
            .thought-container.challenge {
                .thought {
                    animation-delay: 3s !important;
                    background: url('../assets/body/me/sky.jpg') center center / cover no-repeat;
                }
            }
        }
    }
    .skills {
        h1 {
            margin-bottom: 50px;
            text-align: center;
        }
    }
    .cards {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 50px 0;
        .card {
            width: 300px;
            height: 400px;
            box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
            border-radius: 10px;
            margin: 20px;
            .logo {
                height: 31%;
            }
            .divider {
                height: 14%;
            }
            .text {
                height: 55%;
                color: White;
                padding: 0 20px;
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                line-height: 1.5;
                border-radius: 0 0 10px 10px;
                a {
                    height: 20px;
                    font-weight: bold;
                    margin-bottom: 20px;
                    text-decoration: none;
                    display: flex;
                    position: relative;

                    .material-icons {
                        font-size: 25px;
                    }


                    &:before,
                    &:after {
                        content: "";
                        position: absolute;
                        bottom: -5px;
                        width: 0px;
                        height: 2px;
                        margin: 5px 0 0;
                        transition: all 0.2s ease-in-out;
                        transition-duration: 0.5s;
                        opacity: 0;
                    }

                    &:before {
                        left: calc(50%);
                    }
                    &:after {
                        right: calc(50%);
                    }

                    &:hover {
                        &:before,
                        &:after {
                            width: 50%;
                            opacity: 0.4;
                        }
                        &:before {
                            width: 40%;
                        }
                    }

                }
            }
            &.vue {
                .logo {
                    background: url('../assets/body/vuejs.png') center bottom / 35% no-repeat;
                }
                .divider {
                    background: linear-gradient(170deg, transparent 48%, #42b883 51%);
                }
                .text {
                    background-color: #42b883;
                    a {
                        color: #35495e;
                        &:before,
                        &:after {
                            background-color: #35495e;
                        }
                    }
                }
            }
            &.flex {
                .logo {
                    background: url('../assets/body/flex.png') center 70% / 50% no-repeat;
                }
                .divider {
                    background: linear-gradient(10deg, rgb(0, 127, 212) 48%, transparent 51%);
                }
                .text {
                    background-color: rgb(0, 127, 212);
                    a {
                        color: rgb(2, 40, 83);
                        &:before,
                        &:after {
                            background-color: rgb(2, 40, 83);
                        }
                    }
                }
            }
        }
    }

    $circle-background: #FFFFFF;
    $circle-color: #1291D4;
    $inset-color: #FFFFFF;
    $transition-length: 2s;
    @media(max-width: 1100px) {
        $circle-size: 120px;
        $inset-size: 110px;
        .ko-progress-circle {
            margin: 20px auto;
            width:  $circle-size;
            height: $circle-size;
            background-color: $circle-background;
            border-radius: 50%;
            .ko-progress-circle__slice, .ko-progress-circle__fill {
                width:    $circle-size;
                height:   $circle-size;
                position: absolute;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                transition: transform $transition-length;
                border-radius: 50%;
            }
            .ko-progress-circle__slice {
                clip: rect(0px, $circle-size, $circle-size, $circle-size/2);
                .ko-progress-circle__fill {
                    clip: rect(0px, $circle-size/2, $circle-size, 0px);
                }
            }
            .ko-progress-circle__overlay {
                width:       $inset-size;
                height:      $inset-size;
                position:    absolute;
                margin-left: ($circle-size - $inset-size)/2;
                margin-top:  ($circle-size - $inset-size)/2;

                background-color: $inset-color;
                border-radius: 50%;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 50px;
            }
        }
    }
    @media(min-width: 1101px) {
        $circle-size: 200px;
        $inset-size: 190px;
        .ko-progress-circle {
            margin: 20px auto;
            width:  $circle-size;
            height: $circle-size;
            background-color: $circle-background;
            border-radius: 50%;
            .ko-progress-circle__slice, .ko-progress-circle__fill {
                width:    $circle-size;
                height:   $circle-size;
                position: absolute;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                transition: transform $transition-length;
                border-radius: 50%;
            }
            .ko-progress-circle__slice {
                clip: rect(0px, $circle-size, $circle-size, $circle-size/2);
                .ko-progress-circle__fill {
                    clip: rect(0px, $circle-size/2, $circle-size, 0px);
                }
            }
            .ko-progress-circle__overlay {
                width:       $inset-size;
                height:      $inset-size;
                position:    absolute;
                margin-left: ($circle-size - $inset-size)/2;
                margin-top:  ($circle-size - $inset-size)/2;

                background-color: $inset-color;
                border-radius: 50%;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 80px;
            }
        }
    }
    .ko-progress-circle-wrapper {
        width: 33%;
        display: inline-block;
        @media(max-width: 700px) {
          width: 50%;
        }
        @media(max-width: 500px) {
          width: 100%;
        }
        &:nth-child(2) {
            -webkit-animation-delay: .2s;
            -moz-animation-delay: .2s;
            animation-delay: .2s;
        }
        @for $i from 2 through 7 {
            &:nth-child(#{$i}) {
                -webkit-animation-delay: #{$i * .1}s;
                -moz-animation-delay: #{$i * .1}s;
                animation-delay: #{$i * .1}s;
            }
        }
    }

    .ko-progress-circle {
        $i: 0;
        $increment: 180deg / 100;
        @while $i <= 100 {
            &[data-progress='#{$i}'] {
                .ko-progress-circle__slice.full, .ko-progress-circle__fill {
                    transform: rotate($increment * $i);
                }
                .ko-progress-circle__fill.ko-progress-circle__bar {
                    transform: rotate($increment * $i * 2);
                }
                $i: $i + 1;
            }
        }
        &.html {
            .ko-progress-circle__fill {
                background-color: #e65027;
            }
            .ko-progress-circle__overlay {
                background-image: url('../assets/body/skills/html.png');
            }
        }
        &.css {
            .ko-progress-circle__fill {
                background-color: #1572b6;
            }
            .ko-progress-circle__overlay {
                background-image: url('../assets/body/skills/css.png');
            }
        }
        &.js {
            .ko-progress-circle__fill {
                background-color: #63a92e;
            }
            .ko-progress-circle__overlay {
                background-image: url('../assets/body/skills/js.png');
            }
        }
        &.php {
            .ko-progress-circle__fill {
                background-color: #777bb3;
            }
            .ko-progress-circle__overlay {
                background-image: url('../assets/body/skills/php.png');
                background-size: 120px;
                @media(max-width: 1100px) {
                    background-size: 80px;
                }
            }
        }
        &.sql {
            .ko-progress-circle__fill {
                background-color: #c11f33;
            }
            .ko-progress-circle__overlay {
                background-image: url('../assets/body/skills/sql.png');
            }
        }
        &.ps {
            .ko-progress-circle__fill {
                background-color: #153d87;
            }
            .ko-progress-circle__overlay {
                background-image: url('../assets/body/skills/ps.png');
            }
        }
    }
}

$radius: 120px;
$color: #000;
$bg: #fff;

$colors: (
    "facebook": #3b5999,
    "linkedin": #0077b5,
);

.social {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &__button {
        display: block;
        width: $radius;
        height: $radius;
        border-radius: 100%;
        background: $bg;
        position: relative;
        cursor: pointer;
        margin: 5px;
        text-align: center;

    i {
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
        height: $radius;
        line-height: $radius;
        width: $radius;
        font-size: $radius / 2;
        color: $color;
        z-index: 2;
        transition: 0.3s;
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        background: $color;
        border-radius: 100%;
        width: 0;
        height: 0;
        transition: 0.3s;
        top: 0;
        left: 50%;
    }

    &:hover i {
        color: $bg;
    }

    &:hover:after {
        width: $radius;
        height: $radius;
        margin-left: -1 * $radius / 2;
        }
    }
}

@each $name, $color in $colors {
    .#{$name} {
        i {
          color: $color;
        }
        &:after {
          background: $color;
        }
    }
}

@keyframes breathing {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes float-no-shadow {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-5px);
    }
    100% {
        transform: translatey(0px);
    }
}
@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
    }
    50% {
        box-shadow: 0 10px 15px 0px rgba(0,0,0,0.4);
        transform: translatey(-5px);
    }
    100% {
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
    }
}
@keyframes float-higher {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
    }
    50% {
        box-shadow: 0 20px 15px 0px rgba(0,0,0,0.2);
        transform: translatey(-15px);
    }
    100% {
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
    }
}
