<template lang="html">
    <div class="main-container">
        <header ref="header">
            <vue-particles
                color="#dedede"
                :particleOpacity="0.7"
                :particlesNumber="100"
                shapeType="circle"
                :particleSize="4"
                linesColor="#dedede"
                :linesWidth="1"
                :lineLinked="true"
                :lineOpacity="0.4"
                :linesDistance="150"
                :moveSpeed="3"
                :hoverEffect="true"
                hoverMode="grab"
                :clickEffect="true"
                clickMode="repulse"
                >
            </vue-particles>
            <div class="inner-header" ref="inner_header" :style="{ top: innerTop + 'px' }">
                <transition enter-active-class="animated bounceIn" appear>
                    <div class="logo"></div>
                </transition>
                <transition enter-active-class="animated fadeInLeft" appear>
                    <div class="name">Matija Jeras</div>
                </transition>
                <transition enter-active-class="animated fadeInRight" appear>
                    <div class="title">Software Developer</div>
                </transition>
            </div>
            <div class="scroll" :style="{ opacity: scrollOpacity }" ref="scroll" @click="scrollClick">
                <app-scroll-down-button></app-scroll-down-button>
            </div>

            <img class="upper seperator" src="../../assets/body/seperator.svg" >
            
        </header>

        <div class="page-content-wrapper" ref="content">
            <div id="page-content">
                <transition enter-active-class="animated fadeIn" appear>
                    <div class="panel who">
                        <h1>Who am I</h1>
                        <div class="row">
                            <div class="col-text">
                                <div class="text">
                                    Hello, I am Matija Jeras - a simple guy that loves making sites.
                                    Working with frontend programming languages and frameworks is
                                    my hobby and my passion. I love the feeling of doing that while
                                    also exploring modern design to make a clean and responsive site.
                                </div>
                            </div>
                            <div class="col-image">
                                <div class="image"></div>
                            </div>
                        </div>
                    </div>
                </transition>
                <transition enter-active-class="animated fadeIn" appear>
                    <div class="panel work">
                        <h1>Work & education</h1>
                        <div class="row">
                            <div class="col-text">
                                <div class="text">I studied at the University in Ljubljana, Faculty of Computer and Information Science (FRI).
                                I graduated in 2016 and started working for Oryx Gaming as a frontend developer. I think it's very important that
                                in this line of work, you never stop learning.</div>
                            </div>
                            <div class="col-image">
                                <div class="image">
                                    <div class="space">
                                        <div class="inspire">inspire yourself</div>
                                    </div>
                                </div>
                            </div>
                         </div>
                    </div>
                </transition>
                <transition enter-active-class="animated fadeIn" appear>
                    <div class="panel me">
                        <h1>Personal thoughts</h1>
                        <div class="row">
                            <div class="left-side">
                                <div class="thought-container upper simple">
                                    <div class="thought">
                                        <i class="material-icons">arrow_drop_up</i>
                                        <div class="inner-thought">
                                            <span class="title">Keep it clean and simple</span>
                                            <span class="text">Focus on what matters.<br> Less is more.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="thought-container lower explore">
                                    <div class="thought">
                                        <i class="material-icons">arrow_drop_up</i>
                                        <div class="inner-thought">
                                            <span class="title">Be curious</span>
                                            <span class="text">If you don't explore you'll never discover.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="portrait"></div>
                            <div class="right-side">
                                <div class="thought-container upper workout">
                                    <div class="thought">
                                        <i class="material-icons">arrow_drop_up</i>
                                        <div class="inner-thought">
                                            <span class="title">Eat healthy and workout</span>
                                            <span class="text">Take care of your body. It's the only one you have.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="thought-container lower challenge">
                                    <div class="thought">
                                        <i class="material-icons">arrow_drop_up</i>
                                        <div class="inner-thought">
                                            <span class="title">Keep challenging yourself</span>
                                            <span class="text">It's the only way you'll improve. The sky is the limit</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                         </div>
                    </div>
                </transition>
                <div class="panel skills">
                    <h1 :class="skillsVisible ? 'animated fadeInUp' : ''" :style="{ visibility: skillsVisible ? 'visible' : 'hidden' }">Skills</h1>
                    <div :class="skillsVisible ? 'animated fadeInUp' : ''" :style="{ visibility: skillsVisible ? 'visible' : 'hidden' }" v-for="(value, key) in skills" class="ko-progress-circle-wrapper">
                        <div  class="ko-progress-circle" :class="key"  :data-progress="value">
                            <div class="ko-circle">
                                <div class="full ko-progress-circle__slice">
                                    <div class="ko-progress-circle__fill"></div>
                                </div>
                                <div class="ko-progress-circle__slice">
                                    <div class="ko-progress-circle__fill"></div>
                                    <div class="ko-progress-circle__fill ko-progress-circle__bar"></div>
                                </div>
                            </div>
                            <div class="ko-progress-circle__overlay"></div>
                        </div>
                    </div>
                </div>
                <div class="panel cards">
                    <div class="card vue">
                        <div class="logo"></div>
                        <div class="divider"></div>
                        <div class="text">
                            <span>I made this site using Vue.js. It was my first time fully diving into Vue, Vue-cli and Webpack and I have to say it was one of the best coding experience i've had until now.</span>
                            <a href="https://vuejs.org" target="_blank">More about Vue.js<i class="material-icons">keyboard_arrow_right</i>
                                <!-- <div class="underline"></div> -->
                            </a>
                        </div>
                    </div>
                    <div class="card flex">
                        <div class="logo">

                        </div>
                        <div class="divider"></div>
                        <div class="text">
                            <span>I chose css flexbox for element layout, because it of its great support for alignment and space distribution. It's also already supported by all major browsers.</span>
                            <a href="https://css-tricks.com/snippets/css/a-guide-to-flexbox" target="_blank">More about Flexbox<i class="material-icons">keyboard_arrow_right</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact">
            <img class="lower seperator" src="../../assets/body/seperator.svg" >
            <div class="text">
                <h1>matija@jeras.si</h1>
                <h2>or</h2>
                <div class="seperator left"></div>
                <div class="seperator right"></div>
            </div>
            <div class="social">
                <a href="https://linkedin.com/in/matija-jeras" target="_blank" class="social__button linkedin"><i class="fa fa-linkedin"></i></a>
                <a href="https://fb.com/matija.jeras01" target="_blank" class="social__button facebook"><i class="fa fa-facebook"></i></a>
            </div>
            <div class="copyright">
                <p>© 2017 Matija Jeras</p>
            </div>
        </div>
    </div>
</template>

<script>

    import ScrollDownButton from '../blocks/ScrollDownButton.vue';

    export default {
        components: {
            appScrollDownButton: ScrollDownButton
        },
        data () {
            return {
                innerTop: 0,
                skillsVisible: false,
                skillsInViewPort: false,
                savedScroll: 0,
                noScroll: true,
                isMobile: false,
                scrollOpacity: 1,
                skills: {'html':0, 'css':0, 'js':0, 'php':0, 'sql':0, 'ps':0},
                fullSkills: {'html':90, 'css':90, 'js':85, 'php':60, 'sql':50, 'ps':80}
            };
        },
        methods: {
            handleScroll() {
                this.noScroll = false;
                if (!this.isMobile) {
                    this.innerTop = (window.innerHeight / 2) + (window.scrollY / 2)
                }

                if (window.scrollY > 120) {
                    this.scrollOpacity = 0;
                } else {
                    this.scrollOpacity = (120 - window.scrollY) / 100
                }
                if (this.scrollOpacity == 0) {
                    this.$refs.scroll.style.display = 'none'
                } else {
                    this.$refs.scroll.style.display = 'block'
                }
                
                if (window.scrollY > 1500) {
                    this.skillsVisible = true;
                    this.skills = this.fullSkills;
                }
            },
            scrollClick() {
                this.$SmoothScroll(this.$refs.content)
                return false;
            }
        },
        created () {
            if (window.innerWidth < 700) {
                this.isMobile = true;
            }
            this.innerTop = (window.innerHeight / 2)
        },
        mounted () {
            window.addEventListener('scroll', this.handleScroll);
        },
        destroyed () {
            window.removeEventListener('scroll', this.handleScroll);
        }
    }
</script>

<style lang="scss" src="../../styles/Home.scss"></style>
