<template>
    <div class="navigation">

    </div>
</template>

<script>
    export default {
    
    }
</script>

<style lang="scss">
    // .navigation {
    //     width: 400px;
    //     height: 400px;
    //     position: sticky;
    //     bottom: -10px;
    //     right: 0;
    //     background-color: black;
    // }
</style>


