<template>
    <div>
        <app-navigation></app-navigation>
        <transition name="animated fadeIn" appear>
            <router-view></router-view>
        </transition>
    </div>
</template>

<script>
    import Navigation from './components/blocks/Navigation.vue';

    export default {
        components: {
            appNavigation: Navigation
        }
    }
</script>

<style lang="scss">
    @import url('https://fonts.googleapis.com/css?family=Indie+Flower|Ubuntu');
    @import url('https://fonts.googleapis.com/icon?family=Material+Icons');

    body {
        font-family: 'Ubuntu', sans-serif;
    }
    i.material-icons {
        font-family: 'Material Icons', sans-serif;
    }
</style>
